* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

.center {
  padding-left: calc(50% - 558px);
  padding-right: calc(50% - 570px);
}

.header {
  padding-bottom: 19px;
  padding-top: 18px;
}
.header__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__top-left {
  gap: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.header__nav {
  display: flex;
  gap: 30px;
}
.header__nav-link {
  color: rgb(51, 56, 63);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
}
.header__sign {
  color: rgb(0, 112, 160);
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
}
.header__demo-button {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.2px;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid;
  background: rgb(0, 112, 160);
  width: 142px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__demo-button:hover {
  cursor: pointer;
}
.header__demo-button_mid {
  width: 176px;
  height: 45px;
  font-size: 16px;
}
.header__top-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.header__button-link:hover {
  cursor: pointer;
}
.header__main {
  padding-top: 89px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__title {
  color: rgb(31, 31, 31);
  font-family: Fraunces;
  font-size: 68px;
  font-weight: 400;
  line-height: 63.8px;
  letter-spacing: 0.05px;
  text-align: left;
}
.header__description {
  margin-bottom: -2px;
  margin-top: -8px;
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: left;
}
.header__main-left {
  width: 525px;
  display: flex;
  flex-direction: column;
  gap: 31px;
  margin-top: 50px;
}
.header__main-nav {
  margin-bottom: 10px;
  margin-left: -1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.header__learn {
  margin-left: -5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
}
.header__company {
  padding-top: 130px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header__company-titles {
  padding-top: 4px;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 62px;
  justify-content: center;
}
.header__list-companies {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: 0.2px;
  text-align: center;
}
.header__company-img {
  transform: scale(1);
}
.header__cards {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 100px;
  padding-top: 157px;
  justify-content: space-between;
}
.header__card {
  box-sizing: border-box;
  border: 0px solid;
  width: 355px;
  height: 250px;
}
.header__card_1 {
  background: rgb(250, 234, 115);
}
.header__card_2 {
  background: rgb(204, 239, 246);
}
.header__card_3 {
  background: rgb(247, 206, 220);
}
.header__card-title {
  color: rgb(31, 31, 31);
  font-family: Fraunces;
  font-size: 30px;
  font-weight: 400;
  line-height: 34.25px;
  letter-spacing: 0.2px;
  text-align: left;
}
.header__card-descr {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
}
.header__card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 33px;
}
.header__card-logo {
  width: 55px;
  height: 55px;
}
.header__card-logo_1 {
  width: 54px;
  height: 51px;
}
.header__card-logo_2 {
  padding-top: 17px;
  width: 56px;
  height: 16px;
  padding-bottom: 17px;
}
.header__card-logo_3 {
  padding-top: 11px;
  width: 56px;
  height: 31px;
  padding-bottom: 10px;
}

.techno {
  display: flex;
  flex-direction: row;
  background: rgb(247, 249, 250);
  gap: 11px;
  padding-bottom: 41px;
}
.techno__title {
  padding-top: 79px;
  color: rgb(31, 31, 31);
  font-family: Fraunces;
  font-size: 49px;
  font-weight: 400;
  line-height: 49.4px;
  letter-spacing: 1.2px;
  text-align: left;
}
.techno__title_1 {
  margin-top: -58px;
  color: rgb(31, 31, 31);
  font-family: Fraunces;
  font-size: 46px;
  font-weight: 400;
  line-height: 49.4px;
  letter-spacing: 1.2px;
  text-align: left;
}
.techno__list {
  margin-top: 7px;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.techno__left {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.techno__list-title {
  box-sizing: border-box;
  border-top: 1px solid rgb(194, 205, 216);
  display: flex;
  flex-direction: column;
  height: 64px;
}
.techno__list-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 18px;
  padding-left: 16px;
  align-items: center;
}
.techno__list-logo {
  width: 23.83px;
  height: 18.95px;
}
.techno__list-name {
  color: rgb(31, 31, 31);
  font-family: Fraunces;
  font-size: 19px;
  font-weight: 400;
  line-height: 15.2px;
  letter-spacing: 3.2px;
  text-align: left;
  margin-left: -190px;
}
.techno__list-name_1 {
  margin-left: -95px;
}
.techno__list-name_4 {
  margin-left: -179px;
}
.techno__list-vector {
  width: 14.57px;
  height: 7.08px;
  padding-left: 50px;
}
.techno__list-descr {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  display: none;
}
.techno__main-img {
  margin-top: 175px;
  margin-left: -11px;
  width: 481px;
  height: 479px;
  background: rgb(247, 249, 250);
}

.about {
  height: 458px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about__title {
  padding-top: 121px;
  font-size: 48px;
}
.about__cards {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding-top: 115px;
}
.about__card {
  height: 218px;
  display: flex;
  flex-direction: column;
  max-width: 222.66px;
  gap: 15px;
  margin-top: 12px;
}
.about__card_1 {
  margin-top: 68px;
}
.about__card_3 {
  max-width: 221.66px;
}
.about__card-title {
  color: rgb(31, 31, 31);
  font-family: Fraunces;
  font-size: 31px;
  font-weight: 400;
  line-height: 31.25px;
  letter-spacing: 0.2px;
  text-align: left;
}
.about__card-descr {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
}
.about__card-descr_1 {
  font-size: 17px;
}
.about__card-logo {
  height: 43px;
  width: 52px;
}

.Set {
  background: rgb(0, 112, 160);
  height: 550px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 189px;
}
.Set__center {
  padding-left: calc(50% - 501px);
  padding-right: calc(50% - 627px);
}
.Set__main-img {
  margin-top: 80px;
  width: 382px;
  height: 374px;
}
.Set__content {
  margin-top: -13px;
  width: 100%;
  max-width: 597px;
  display: flex;
  flex-direction: column;
}
.Set__title {
  color: rgb(255, 255, 255);
  font-family: Fraunces;
  font-size: 44px;
  font-weight: 400;
  line-height: 50.4px;
  letter-spacing: 2.7px;
  text-align: left;
  padding-bottom: 23px;
}
.Set__title_1 {
  padding-top: 92px;
}
.Set__descr {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.3px;
  text-align: left;
  padding-bottom: 24px;
}
.Set__check {
  width: 17px;
  height: 10px;
}
.Set__list-name {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0.2px;
  text-align: left;
}
.Set__list-name_2 {
  letter-spacing: 0.6px;
}
.Set__lists {
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.Set__list {
  display: flex;
  flex-direction: row;
  gap: 9px;
  padding-bottom: 7px;
  align-items: center;
}
.Set__button {
  padding-left: 17px;
  padding-top: 24px;
}
.Set__demo-button {
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 1.1px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 112, 160);
}

.tasks {
  height: 648px;
}
.tasks__descr {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.8px;
  text-align: left;
  padding-top: 20px;
}
.tasks__cards {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tasks__title {
  font-size: 48px;
  line-height: 51.4px;
  letter-spacing: 1.3px;
  padding-top: 119px;
}
.tasks__card {
  max-width: 234.66px;
}
.tasks__card-descr {
  line-height: 22px;
  letter-spacing: 0.7px;
}
.tasks__card-descr_1 {
  line-height: 23px;
  letter-spacing: 0.2px;
}
.tasks__card-descr_2 {
  line-height: 23px;
  letter-spacing: -0.3px;
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 51px;
  height: 747px;
  background: rgb(247, 249, 250);
}
.blog__title {
  padding-top: 0px;
  letter-spacing: 0.8px;
}
.blog__top {
  padding-top: 79px;
  gap: 476px;
  display: flex;
  flex-direction: row;
}
.blog__Posts {
  padding-top: 16px;
  letter-spacing: 0.6px;
}
.blog__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.blog__card {
  width: 355px;
  height: 487px;
  display: flex;
  flex-direction: column;
  background: white;
}
.blog__card-img {
  width: 355px;
  height: 238px;
}
.blog__card-bottom {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.blog__card-bottom_3 {
  gap: 11px;
}
.blog__category {
  color: rgb(44, 144, 201);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-align: center;
  box-sizing: border-box;
  background: rgb(230, 247, 255);
  width: 122px;
  height: 22px;
  border: 1px solid rgb(230, 247, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.blog__category_2 {
  width: 111px;
  height: 23px;
}
.blog__category_3 {
  width: 61px;
  height: 24px;
}
.blog__card-title {
  color: rgb(31, 31, 31);
  font-family: Fraunces;
  font-size: 25px;
  font-weight: 400;
  line-height: 31.25px;
  letter-spacing: 2.5px;
  text-align: left;
}
.blog__card-title_3 {
  font-size: 26px;
  letter-spacing: 1.6px;
}
.blog__card-descr {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.6px;
  text-align: left;
}
.blog__card-date {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.6px;
  text-align: left;
}

.start {
  height: 530px;
}
.start__center {
  padding-left: calc(50% - 560px);
  padding-right: calc(50% - 572px);
}
.start__field {
  margin-top: 79px;
  height: 372px;
  box-sizing: border-box;
  border: 1px solid white;
  background: rgb(230, 247, 255);
}
.start__content {
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 57px;
}
.start__title {
  letter-spacing: 1.1px;
  font-size: 48.6px;
}
.start__descr {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 19.1px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.3px;
  text-align: left;
}
.start__checks {
  padding-left: 3px;
  display: flex;
  flex-direction: row;
  gap: 37px;
}
.start__check-object {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.start__check-sign {
  width: 13px;
  height: 7px;
}
.start__check-descr {
  color: rgb(98, 106, 114);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.6px;
  text-align: left;
}
.start__button {
  padding-top: 14px;
}
.start__demo-button {
  width: 176px;
  height: 44px;
}

.footer {
  margin-top: -32px;
}
.footer__center {
  padding-right: calc(50% - 571px);
}
.footer__top {
  height: 280px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 316px;
}
.footer__top-left {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  width: 134px;
  padding-bottom: 20px;
}
.footer__author {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.2px;
  text-align: left;
}
.footer__author-link {
  color: rgb(0, 112, 160);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.2px;
  text-align: left;
}
.footer__top-right {
  display: flex;
  flex-direction: row;
  gap: 102px;
}
.footer__links-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 129px;
}
.footer__list-name {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
}
.footer__link {
  color: rgb(98, 106, 114);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-align: left;
}
.footer__sign-up {
  max-width: 217px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.footer__sign-descr {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.8px;
  text-align: left;
}
.footer__email-form {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.footer__email-input {
  border: none;
  border-bottom: 1px solid rgb(194, 205, 216);
  letter-spacing: 0%;
  text-align: left;
  width: 216px;
  height: 39px;
  background-color: transparent;
  padding-left: 15px;
}
.footer__email-input::-moz-placeholder {
  color: rgb(98, 106, 114);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.8px;
  text-align: left;
}
.footer__email-input::placeholder {
  color: rgb(98, 106, 114);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.8px;
  text-align: left;
}
.footer__email-arrow {
  width: 5.82px;
  height: 13.67px;
}
.footer__bottom {
  height: 92px;
  border-top: 1px solid rgb(222, 229, 235);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer__rights {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 13.7px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.3px;
  text-align: left;
}
.footer__social {
  padding-top: 18px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer__social-logo {
  width: 22.16px;
  height: 28.31px;
}/*# sourceMappingURL=Whirl.css.map */