* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

.center {
  padding-left: calc(50% - 615px);
  padding-right: calc(50% - 615px);
}

.header {
  padding-top: 20px;
}
.header__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__top-left {
  gap: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.header__nav {
  display: flex;
  gap: 15px;
}
.header__nav-link {
  color: rgb(51, 56, 63);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
}
.header__sign {
  color: rgb(0, 112, 160);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
}
.header__demo-button {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid;
  background: rgb(0, 112, 160);
  width: 139px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__demo-button:hover {
  cursor: pointer;
}
.header__top-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header__button-link:hover {
  cursor: pointer;
}
.header__main {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__title {
  color: rgb(31, 31, 31);
  font-family: Fraunces;
  font-size: 58px;
  font-weight: 400;
  line-height: 63.8px;
  letter-spacing: 0.2px;
  text-align: left;
}
.header__description {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: left;
}
.header__main-left {
  width: 525px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.header__main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.header__learn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.header__company {
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header__company-titles {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.header__list-companies {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: 0.2px;
  text-align: center;
}
.header__company-img {
  transform: scale(0.8);
}
.header__cards {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 100px;
  padding-top: 50px;
  justify-content: space-between;
}
.header__card {
  box-sizing: border-box;
  border: 0px solid;
  width: 355px;
  height: 250px;
}
.header__card_1 {
  background: rgb(250, 234, 115);
}
.header__card_2 {
  background: rgb(204, 239, 246);
}
.header__card_3 {
  background: rgb(247, 206, 220);
}
.header__card-title {
  color: rgb(31, 31, 31);
  font-family: Fraunces;
  font-size: 25px;
  font-weight: 400;
  line-height: 31.25px;
  letter-spacing: 0.2px;
  text-align: left;
}
.header__card-descr {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
}
.header__card-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 32px;
}
.header__card-logo {
  width: 55px;
  height: 55px;
}

.techno {
  display: flex;
  flex-direction: row;
  background: rgb(247, 249, 250);
  gap: 75px;
  padding-bottom: 50px;
}
.techno__title {
  color: rgb(31, 31, 31);
  font-family: Fraunces;
  font-size: 42px;
  font-weight: 400;
  line-height: 50.4px;
  letter-spacing: 0.2px;
  text-align: left;
}
.techno__list {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.techno__left {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.techno__list-title {
  box-sizing: border-box;
  border-top: 1px solid rgb(194, 205, 216);
  display: flex;
  flex-direction: column;
  height: 64px;
}
.techno__list-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 18px;
  padding-left: 16px;
  align-items: center;
}
.techno__list-logo {
  width: 23.83px;
  height: 18.95px;
}
.techno__list-name {
  color: rgb(31, 31, 31);
  font-family: Fraunces;
  font-size: 21px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 0.2px;
  text-align: left;
  margin-left: -190px;
}
.techno__list-name_1 {
  margin-left: -150px;
}
.techno__list-name_4 {
  margin-left: -179px;
}
.techno__list-vector {
  width: 14.57px;
  height: 7.08px;
  padding-left: 50px;
}
.techno__list-descr {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  display: none;
}
.techno__main-img {
  width: 481px;
  height: 479px;
  background: rgb(247, 249, 250);
}

.about {
  height: 458px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about__title {
  padding-top: 150px;
}
.about__cards {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding-top: 168px;
}
.about__card {
  height: 218px;
  display: flex;
  flex-direction: column;
  max-width: 222.66px;
  gap: 15px;
}
.about__card_1 {
  margin-top: 68px;
}
.about__card-title {
  color: rgb(31, 31, 31);
  font-family: Fraunces;
  font-size: 25px;
  font-weight: 400;
  line-height: 31.25px;
  letter-spacing: 0.2px;
  text-align: left;
}
.about__card-descr {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
}
.about__card-logo {
  height: 55px;
  width: 55px;
}

.Set {
  background: rgb(0, 112, 160);
  height: 550px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.Set__main-img {
  width: 382px;
  height: 374px;
}
.Set__content {
  max-width: 501px;
  display: flex;
  flex-direction: column;
}
.Set__title {
  color: rgb(255, 255, 255);
  font-family: Fraunces;
  font-size: 42px;
  font-weight: 400;
  line-height: 50.4px;
  letter-spacing: 0.2px;
  text-align: left;
  padding-bottom: 21px;
}
.Set__descr {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.2px;
  text-align: left;
  padding-bottom: 17px;
}
.Set__check {
  width: 17px;
  height: 10px;
}
.Set__list-name {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0.2px;
  text-align: left;
}
.Set__list {
  display: flex;
  flex-direction: row;
  gap: 9px;
  padding-bottom: 7px;
  align-items: center;
}
.Set__button {
  padding-top: 27px;
}
.Set__demo-button {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 112, 160);
}

.tasks {
  height: 648px;
}
.tasks__descr {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.2px;
  text-align: left;
}
.tasks__cards {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tasks__title {
  padding-top: 100px;
}
.tasks__descr {
  padding-top: 20px;
}
.blog {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 747px;
  background: rgb(247, 249, 250);
}
.blog__top {
  padding-top: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.blog__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.blog__card {
  width: 355px;
  height: 487px;
  display: flex;
  flex-direction: column;
  background: white;
}
.blog__card-img {
  width: 355px;
  height: 238px;
}
.blog__card-bottom {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.blog__category {
  color: rgb(44, 144, 201);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-align: center;
  box-sizing: border-box;
  background: rgb(230, 247, 255);
  width: 122px;
  height: 22px;
  border: 1px solid rgb(230, 247, 255);
}
.blog__card-title {
  color: rgb(31, 31, 31);
  font-family: Fraunces;
  font-size: 25px;
  font-weight: 400;
  line-height: 31.25px;
  letter-spacing: 0.2px;
  text-align: left;
}
.blog__card-descr {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.2px;
  text-align: left;
}
.blog__card-date {
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.2px;
  text-align: left;
}/*# sourceMappingURL=Whirl.css.map */