*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
body{
    font-family: "Inter", sans-serif;
}


.center{
    padding-left: calc(50% - 558px);
    padding-right: calc(50% - 570px);
}


.header{
    padding-bottom: 19px;
    padding-top: 18px;
    &__top{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__top-left{
        gap: 37px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
    }
    &__nav{
        display: flex;
        gap: 30px;
    }
    &__nav-link{
        color: rgb(51, 56, 63);
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-align: left;  
    }
    &__sign{
        color: rgb(0, 112, 160);
        font-family: Inter;
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-align: left; 
    }
    &__demo-button{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 1.2px;
        text-align: left;
        box-sizing: border-box;
        border: 1px solid;
        background: rgb(0, 112, 160);
        width: 142px;
        height: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            cursor: pointer;
        }
        &_mid{
            width: 176px;
            height: 45px;
            font-size: 16px;
        }
    }
    &__top-right{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 28px;
    }
    &__button-link:hover{
        cursor: pointer;
    }



    &__main{
        padding-top: 89px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    &__title{
        color: rgb(31, 31, 31);
        font-family: Fraunces;
        font-size: 68px;
        font-weight: 400;
        line-height: 63.8px;
        letter-spacing: 0.05px;
        text-align: left;
    }
    &__description{
        margin-bottom: -2px;
        margin-top: -8px;
        color: rgb(31, 31, 31);
        font-family: Inter;
        font-size: 19px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 1.2px;
        text-align: left;
    }
    &__main-left{
        width: 525px;
        display: flex;
        flex-direction: column;
        gap: 31px;
        margin-top: 50px;
    }
    &__main-nav{
        margin-bottom: 10px;
        margin-left: -1px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
    &__learn{
        margin-left: -5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 9px;
    }
    &__company{
        padding-top: 130px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__company-titles{
        padding-top: 4px;
        text-align: center;
        display: flex;
        flex-direction: row;
        gap: 62px;
        justify-content: center
    }
    &__list-companies{
        color: rgb(31, 31, 31);
        font-family: Inter;
        font-size: 25px;
        font-weight: 400;
        line-height: 37.5px;
        letter-spacing: 0.2px;
        text-align: center;
    }
    &__company-img{
        transform: scale(1);
    }



    &__cards{
        text-align: center;
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-bottom: 100px;
        padding-top: 157px;
        justify-content: space-between;
    }
    &__card{
        box-sizing: border-box;
        border: 0px solid;
        width: 355px;
        height: 250px;
        &_1{
            background: rgb(250, 234, 115);
        }
        &_2{
            background: rgb(204, 239, 246);
        }
        &_3{
            background: rgb(247, 206, 220);
        }
    }
    &__card-title{
        color: rgb(31, 31, 31);
        font-family: Fraunces;
        font-size: 30px;
        font-weight: 400;
        line-height: 34.25px;
        letter-spacing: 0.2px;
        text-align: left;
    }
    &__card-descr{
        color: rgb(31, 31, 31);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-align: left;
    }
    &__card-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 33px;
    }
    &__card-logo{
        width: 55px;
        height: 55px;
        &_1{
            width: 54px;
            height: 51px;
        }
        &_2{
            padding-top: 17px;
            width: 56px;
            height: 16px;
            padding-bottom: 17px;
        }
        &_3{
            padding-top: 11px;
            width: 56px;
            height: 31px;
            padding-bottom: 10px;
        }
    }
}


.techno{
    display: flex;
    flex-direction: row;
    background: rgb(247, 249, 250);
    gap: 11px;
    padding-bottom: 50px;
    &__title{
        padding-top: 79px;
        color: rgb(31, 31, 31);
        font-family: Fraunces;
        font-size: 49px;
        font-weight: 400;
        line-height: 49.4px;
        letter-spacing: 1.2px;
        text-align: left;
        &_1{
            margin-top: -58px;
            color: rgb(31, 31, 31);
            font-family: Fraunces;
            font-size: 46px;
            font-weight: 400;
            line-height: 49.4px;
            letter-spacing: 1.2px;
            text-align: left; 
        }
    }
    &__list{
        margin-top: 7px;
        width: 450px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__left{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    &__list-title{
        box-sizing: border-box;
        border-top: 1px solid rgb(194, 205, 216);;
        display: flex;
        flex-direction: column;
        height: 64px;
    }
    &__list-main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 18px;
        padding-left: 16px;
        align-items: center;
    }
    &__list-logo{
        width: 23.83px;
        height: 18.95px;
    }
    &__list-name{
        color: rgb(31, 31, 31);
        font-family: Fraunces;
        font-size: 19px;
        font-weight: 400;
        line-height: 15.2px;
        letter-spacing: 3.2px;
        text-align: left;
        margin-left: -190px;
        &_1{
            margin-left: -95px;
        }
        &_4{
            margin-left: -179px;
        }
    }
    &__list-vector{
        width: 14.57px;
        height: 7.08px;
        padding-left: 50px;
    }
    &__list-descr{
        color: rgb(31, 31, 31);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-align: left;
        display: none;
    }
    &__main-img{
        margin-top: 175px;
        margin-left: -11px;
        width: 481px;
        height: 479px;
        background: rgb(247, 249, 250);
    }
}


.about{
    height: 458px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    &__title{
        padding-top: 150px;
    }
    &__cards{
        display: flex;
        flex-direction: row;
        gap: 32px;
        padding-top: 168px;
    }
    &__card{
        height: 218px;
        display: flex;
        flex-direction: column;
        max-width: 222.66px;
        gap: 15px;
        &_1{
            margin-top: 68px;
        }
    }
    &__card-title{
        color: rgb(31, 31, 31);
        font-family: Fraunces;
        font-size: 25px;
        font-weight: 400;
        line-height: 31.25px;
        letter-spacing: 0.2px;
        text-align: left;
    }
    &__card-descr{
        color: rgb(31, 31, 31);
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-align: left;
    }
    &__card-logo{
        height: 55px;
        width: 55px;
    }
}


.Set{
    background: rgb(0, 112, 160);
    height: 550px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    &__main-img{
        width: 382px;
        height: 374px;
    }
    &__content{
        max-width: 501px;
        display: flex;
        flex-direction: column;
    }
    &__title{
        color: rgb(255, 255, 255);
        font-family: Fraunces;
        font-size: 42px;
        font-weight: 400;
        line-height: 50.4px;
        letter-spacing: 0.2px;
        text-align: left;
        padding-bottom: 21px;
    }
    &__descr{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0.2px;
        text-align: left;
        padding-bottom: 17px;
    }
    &__check{
        width: 17px;
        height: 10px;
    }
    &__list-name{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.6px;
        letter-spacing: 0.2px;
        text-align: left;
    }
    &__list{
        display: flex;
        flex-direction: row;
        gap: 9px;
        padding-bottom: 7px;
        align-items: center;
    }
    &__button{
        padding-top: 27px;
    }
    &__demo-button{
        color: rgb(255, 255, 255);
        border: 1px solid rgb(0, 112, 160);
    }
}


.tasks{
   height: 648px; 
   &__descr{
        color: rgb(31, 31, 31);
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0.2px;
        text-align: left;
   }
   &__cards{
        padding-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
   }
   &__title{
        padding-top: 100px;
   }
   &__descr{
    padding-top: 20px;
   }
   &__title{
    
   }
   &__title{
    
   }
   &__title{
    
   }
}


.blog{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 747px;
    background: rgb(247, 249, 250);
    &__top{
       padding-top: 79px; 
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
    }
    &__cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__card{
        width: 355px;
        height: 487px;
        display: flex;
        flex-direction: column;
        background: white;
    }
    &__card-img{
        width: 355px;
        height: 238px;
    }
    &__card-bottom{
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    &__category{
        color: rgb(44, 144, 201);
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.4px;
        text-align: center;
        box-sizing: border-box;
        background: rgb(230, 247, 255);
        width: 122px;
        height: 22px;
        border: 1px solid rgb(230, 247, 255);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__card-title{
        color: rgb(31, 31, 31);
        font-family: Fraunces;
        font-size: 25px;
        font-weight: 400;
        line-height: 31.25px;
        letter-spacing: 0.2px;
        text-align: left;
    }
    &__card-descr{
        color: rgb(31, 31, 31);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 0.2px;
        text-align: left;
    }
    &__card-date{
        color: rgb(31, 31, 31);
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 0.2px;
        text-align: left;
        margin-top: 20px;
    }
}


.start{
    height: 530px;
    &__field{
        margin-top: 90px;
        height: 370px;
        box-sizing: border-box;
        border: 1px solid white;
        background: rgb(230, 247, 255);
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 50px;
    }
    &__descr{
        color: rgb(31, 31, 31);
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0.2px;
        text-align: left;
    }
    &__checks{
        display: flex;
        flex-direction: row;
        gap: 25px;
    }
    &__check-object{
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
    }
    &__check-sign{
        width: 13px;
        height: 7px;
    }
    &__check-descr{
        color: rgb(98, 106, 114);
        font-family: Inter;
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.2px;
        text-align: left;
    }
}


.footer{
    &__top{
        height: 328px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__top-left{
        display: flex;
        flex-direction: column;
    }
    &__logo{
        padding-bottom: 20px;
    }
    &__author{
        color: rgb(31, 31, 31);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 0.2px;
        text-align: left;
    }
    &__author-link{
        color: rgb(0, 112, 160);
        font-family: Inter;
        font-size: 13px;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 0.2px;
        text-align: left;
    }
    &__top-right{
        display: flex;
        flex-direction: row;
        gap: 189px;
    }
    &__links-list{
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    &__list-name{
        color: rgb(31, 31, 31);
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-align: left;
    }
    &__link{
        color: rgb(98, 106, 114);
        font-family: Inter;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        text-align: left;
    }
    &__sign-up{
        max-width: 217px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__sign-descr{
        color: rgb(31, 31, 31);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-align: left;
    }
    &__email-form{
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
    }
    &__email-input{
        border: none;
        border-bottom: 1px solid rgb(194, 205, 216);
        letter-spacing: 0%;
        text-align: left;
        width: 216px;
        height: 44px;
        background-color: transparent;
        padding-left: 15px;
    }
    &__email-input::placeholder{
        color: rgb(98, 106, 114);
        font-family: Inter;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        text-align: left;
    }
    &__email-arrow{
        width: 5.82px;
        height: 13.67px;
    }
    &__bottom{
        height: 70px;
        border-top: 1px solid rgb(222, 229, 235);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__rights{
        color: rgb(31, 31, 31);
        font-family: Inter;
        font-size: 13px;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 0.2px;
        text-align: left;
    }
    &__social{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    &__social-logo{
        width: 21.36px;
        height: 21.01px;
    }
}
